<!--

HTML5
-*- coding: utf-8 -*-
Author: Nicolas Flandrois
Date:   Wed 07 October 2020 16:50:14
Last Modified time: Wed 07 October 2020 16:54:26 

 -->

<!-- Description: HTML Skeleton for Chart.JS rendering -->
{% extends "home/base.html" %}

{% block content %}
  <!-- Your Chart Here -->
  <h1>Your Chart</h1>
  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->
  <p class="col d-flex invisible" style="margin-bottom: 50px"> This Paragraph ensure the bottom of the conversation isn't hidden by the Footer.</p>
  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->

{% endblock %}
