<!--

HTML5
-*- coding: utf-8 -*-
Author: Nicolas Flandrois
Date:   Wed 07 October 2020 16:50:14
Last Modified time: Wed 07 October 2020 18:49:09 

 -->

<!-- Description: HTML Skeleton for Chart.JS rendering -->
{% extends "home/base.html" %}

<script>
{% block jquery %}

var endpoint = '/graphs/api/chart/data/'
var defaultData = []
var labels = []
$.ajax({
    method:"GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        var ctx = document.getElementById('myChart')
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: defaultData,

            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

{% endblock %}
</script>

{% block content %}
  <!-- Your Chart Here -->
  <div class="row">
      <div class="col-12">
        <h1>Your Chart</h1>
        <canvas id="myChart" width="400" height="400"></canvas>

      </div>
  </div>
  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->
  <p class="col d-flex invisible" style="margin-bottom: 50px"> This Paragraph ensure the bottom of the conversation isn't hidden by the Footer.</p>
  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->

{% endblock %}
