<!--

HTML5
-*- coding: utf-8 -*-
Author: Nicolas Flandrois
Date:   Wed 07 October 2020 16:50:14
Last Modified time: Thu 08 October 2020 00:47:08 

 -->

<!-- Description: HTML Skeleton for Chart.JS rendering -->
{% extends "home/base.html" %}

<script>
{% block jquery %}

var endpoint = '/graphs/api/chart/data/'
var intensity_x = []
var intensity_y = []
$.ajax({
    method:"GET",
    url: endpoint,
    success: function(data){
        intensity_x = data.intensity_x
        intensity_y = data.intensity_y
        var ctx = document.getElementById('myChart')
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: intensity_x,
                datasets: [{
                    label: 'Intensité de la douleur',
                    data: intensity_y,
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                }]
            }
        });

    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

{% endblock %}
</script>

{% block content %}
  <!-- Your Chart Here -->
  <div class="row">
      <div class="m-4 col-12">
        <h1>Intensité de la Douleur dans le temps</h1>
        <div>
            <canvas id="myChart" width="400" height="auto"></canvas>
        </div>
      </div>
  </div>
  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->
  <p class="col d-flex invisible" style="margin-bottom: 50px"> This Paragraph ensure the bottom of the conversation isn't hidden by the Footer.</p>
  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->

{% endblock %}
