<!--

HTML5
-*- coding: utf-8 -*-
Author: Nicolas Flandrois
Date:   Tue 02 June 2020 15:28:13
Last Modified time: Tue 16 June 2020 22:31:45 

 -->

<!-- Descriion: -->
{% extends "home/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}


  <style type="text/css">
      .bgimg {
          background-image: url({% static 'home/img/background.jpg' %});
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
      }

      .well {
         background-color: rgba(245, 245, 245, 0.4);
      }
  </style>

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} ">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <div class="p-4 bgimg">
                          <legend class="border-bottom mb-4 font-weight-bold well text-dark-70">
                            Créez votre compte
                          </legend>
                        </div>
                        {{ form|crispy }}
                        <!-- {{ u_form|crispy }} -->
                        <!-- {{ p_form|crispy }} -->

                        <a href="{% url 'legal' %}" target="_blank" class="btn btn-primary m-1" title="CGV & RGPD">
                          Conditions d'Utilisation des Données et Respect des données privées.
                        </a>

                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Enregistrer</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Avez-vous déjà un compte? <a class="ml-2" href="{% url 'login' %}">Se connecter</a>
                    </small>
                </div>
            </div>

      </div>
    </div>
  </main>

{% endblock content %}
