/*
* @Author: Nicolas Flandrois
* @Date:   Thu 11 June 2020 11:44:30
* @Last Modified by:   Nicolas Flandrois
* @Last Modified time: Tue 16 June 2020 14:28:36 
*/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold-webfont.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light-webfont.woff');
    font-weight: 300;
    font-style: normal;
}
